.react-flow__node {
    align-items: center;
    background: #fafbfc;
    border: 1px solid #e4e8eb;
    border-radius: 8px;
    cursor: default;
    display: block;
}

.react-flow__node-addNewNode,.react-flow__node-addNewCondition {
    width: 50px;
    height: 50px;
    border: 2px dashed;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-flow__node:hover {
    border-color: #476270;
    box-shadow: 0 3px 3px rgba(4, 20, 26, 0.03), 0 8px 12px -14px rgba(4, 20, 26, 0.08);
}

.react-flow__node.selected {
    background-color: #eef8fa;
    border-color: #6dc8ce;
    box-shadow: 0 0 0 1px #6dc8ce, 0 8px 8px rgba(4, 20, 26, 0.03), 0 12px 10px -12px rgba(109, 200, 206, 0.15);
}

.react-flow__node.react-flow__node-addNewNode.selected {
    box-shadow: none;
}

.react-flow__handle {
    left: 30px !important;
    visibility: hidden;
}

.reactflow__setup-container .react-flow__handle {
    left: 24px !important;
}

.reactflow__setup-container .react-flow__handle.handle__top-addNewCondition {
    left: calc(100% / 2) !important;
    visibility: hidden;
}


.node__start-icon {
    font-size: 32px;
}

.react-flow__node:hover .node__start-icon {
    color: #476270;
}

.react-flow__node.selected .node__start-icon {
    color: #6dc8ce;
}

.btn-actions {
    width: 150px;
    height: 46px;
    background-color: #6dc8ce;
}

.btn-actions:hover {
    background-color: #eef8fa !important;
    border-color: #6dc8ce !important;
    color: #000 !important;
}