/* Bố cục tổng thể của form */
.workflow-setup {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px; /* Đảm bảo padding đều ở các cạnh */
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Thay đổi từ center sang stretch để chiều rộng của các con trải dài */
}

/* Bố cục cho từng nhóm input */
.form-group {
    width: 100%;
    margin-bottom: 20px;
}

label {
    align-self: flex-start; /* Căn nhãn về phía bên trái */
    margin-bottom: 5px; /* Khoảng cách giữa nhãn và input */
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Định dạng cho các nút Trigger Type */
.trigger-options {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.trigger-button {
    width: 40px;  /* Đặt chiều rộng */
    height: 40px; /* Đặt chiều cao để tạo hình vuông */
    border: 1px solid #ccc; /* Đường viền */
    display: flex;
    justify-content: center;
    align-items: center; /* Căn giữa nội dung trong nút */
    background-color: transparent;
    cursor: pointer;
    margin-right: 10px;
}

.trigger-button:last-child {
    margin-right: 0;
}

.trigger-button.active, .trigger-button:hover {
    background-color: #f0f0f0; /* Màu nền cho nút được chọn hoặc hover */
    border-color: #007bff; /* Màu viền khi được chọn hoặc hover */
}

/* Định dạng cho các nút hành động Cancel và Create */
.form-actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form-actions button {
    padding: 10px 20px;
    border: 2px solid #ccc;
    background-color: transparent;
    color: #333;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
}

.form-actions button:hover {
    background-color: #f0f0f0;
    border-color: #007bff;
}

.button-primary {
    color: #007bff;
}

.button-primary:hover {
    border-color: #0056b3;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
