.ant-drawer-header {
    background-color: var(--grey-neutral-400);
}

.ant-drawer-body {
    overflow-y: auto;
}

.ant-drawer-mask {
    background: rgba(0, 0, 0, 0.15) !important;
}

.ant-drawer-header {
    background: #6dc8ce;
}