.collapse__expression {
    position: absolute;
	visibility: hidden;
	transition: all .2s ease-out;
	opacity: 0;
    top: 0;
    right: 500px;
    width: 500px;
	transform: translateY(35%);
    border-color: transparent;
    border-radius: 0px !important;
    box-shadow: -6px 0 16px 0 rgba(0, 0, 0, 0.08), -3px 0 6px -4px rgba(0, 0, 0, 0.12), -9px 0 28px 8px rgba(0, 0, 0, 0.05);
}

.show {
	opacity: 1;
	transition: all .2s ease-out;
	visibility: visible;  
}

.collapse__expression .ant-collapse-header {
	text-align: center;
    border-radius: 0px !important;
    background-color: var(--grey-neutral-300);
}

.collapse__expression .ant-collapse-item.ant-collapse-item-active .ant-collapse-header {
    border-radius: 0px !important;
}

.collapse__expression .ant-collapse-content {
	height: 500px;
	overflow-y: auto;
	border-radius: 0px !important;
}