:root {
  --height-header: 56px;
  --padding-x: 32px;

  --primary: #6161ff;
  --secondary: #7d7dff;
  --border-color: #D9D9D9;
  --background-hover-primary: #efefff;
  --alert: #ff1b0a;
  --warning: #ffbe0a;
  --success: #41c8b1;
  --information: #3385d7;
  --orange: #ff6c0a;

  --text-primary: #313535;
  --text-secondary: #6d7474;
  --text-tertiary: #969c9c;
  --text-disable: #818888;
  
  --bg: #ffffff;
  --divider-color: #e6efef;

  --white: #ffffff;
  --black: #000000;

  --react-flow-bg: #0000000a;
  --node-bg: #ffffffe5;
  --node-border: #f0f0f0;

  --grek-blue-primary-1: #efefff;
  --grek-blue-primary-2: #d9d9ff;
  --grek-blue-primary-3: #bbbbff;
  --grek-blue-primary-4: #9b9bff;
  --grek-blue-primary-5: #7d7dff;
  --grek-blue-primary-6: #6161ff;
  --grek-blue-primary-7: #5252d9;
  --grek-blue-primary-8: #4545b5;
  --grek-blue-primary-9: #373791;
  --grek-blue-primary-10: #2c2c73;

  --turquoise-900: #083535;
  --turquoise-800: #0d5959;
  --turquoise-700: #137c7c;
  --turquoise-600: #18a0a0;
  --turquoise-500: #1dc3c3;
  --turquoise-400: #2adfdf;
  --turquoise-300: #4ee4e4;
  --turquoise-200: #71eaea;
  --turquoise-100: #95efef;
  --turquoise-80: #b8f4f4;
  --turquoise-60: #dcfafa;

  --blue-900: #0a1f33;
  --blue-800: #113355;
  --blue-700: #184777;
  --blue-600: #1e5c99;
  --blue-500: #2570bb;
  --blue-400: #3385d7;
  --blue-300: #5599dd;
  --blue-200: #77ade4;
  --blue-100: #99c2eb;
  --blue-80: #bbd6f2;
  --blue-60: #ddebf8;

  --green-900: #0c311f;
  --green-800: #145233;
  --green-700: #1d7247;
  --green-600: #25935c;
  --green-500: #2db470;
  --green-400: #3bce85;
  --green-300: #5cd699;
  --green-200: #7cdead;
  --green-100: #9de7c2;
  --green-80: #beefd6;
  --green-60: #def7eb;

  --red-900: #3d0400;
  --red-800: #660700;
  --red-700: #8f0a00;
  --red-600: #b80c00;
  --red-500: #e00f00;
  --red-400: #ff1b0a;
  --red-300: #ff3f33;
  --red-200: #ff675c;
  --red-100: #ff8d85;
  --red-80: #ffb3ad;
  --red-60: #ffd9d6;

  --yellow-900: #3d2d00;
  --yellow-800: #664b00;
  --yellow-700: #8f6900;
  --yellow-600: #b88700;
  --yellow-500: #e0a500;
  --yellow-400: #ffbe0a;
  --yellow-300: #ffc933;
  --yellow-200: #ffd35c;
  --yellow-100: #ffde85;
  --yellow-80: #ffe9ad;
  --yellow-60: #fff4d6;

  --orange-900: #3d1800;
  --orange-800: #662900;
  --orange-700: #8f3900;
  --orange-600: #b84900;
  --orange-500: #e05a00;
  --orange-400: #ff6c0a;
  --orange-300: #ff8533;
  --orange-200: #ff9d5c;
  --orange-100: #ffb685;
  --orange-80: #ffcead;
  --orange-60: #ffe7d6;
}
a {
  color: var(--text-primary);
  text-decoration: none !important;
}

body {
  font-family: sans-serif;
  color: #111;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  font-weight: 700;
  align-items: center;
}

.logo {
  text-decoration: none;
  display: block;
  line-height: 1;
}

header select {
  margin-left: 1em;
}

.overview-example__add {
  display: none;
}

.react-flow__attribution a {
  display: none;
}

.react-flow__node a {
  font-weight: 700;
  color: #111;
}

.react-flow__node.dark-node {
  background: #0041d0;
  color: #f8f8f8;
}

.react-flow__node.dark {
  background: #557;
  color: #f8f8f8;
}

.react-flow__node-selectorNode {
  font-size: 12px;
  background: #f0f2f3;
  border: 1px solid 555;
  border-radius: 5px;
  text-align: center;
}

.ant-layout-header {
  padding: 0px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-tag {
  margin-inline-end: unset !important;
}

.ant-divider {
  margin: 0;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.04);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .overview-example__add {
    display: block;
  }
}
